*{
    padding:0;
    margin: 0;
}
body{
    background-color: hsl(212, 45%, 89%);
}
.main-design{
    display: grid;
    grid-template-columns: repeat(1,320px);
    border: 1px solid white;
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 1em;
    height: 500px;
    font-size: 15px;
   
}
.images{
    margin: 2em;
}

.images img{
    width: 250px;
    border-radius: 1em;
}
h1{
    color: hsl(218, 44%, 22%);

}
p{
    color: hsl(220, 15%, 55%);
}